[submodule "src/tinycthread"]
	path = src/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
[submodule "src/KeccakCodePackage"]
	path = src/KeccakCodePackage
	url = https://github.com/gvanas/KeccakCodePackage.git
